.Container {
	margin: 50px 0px;
}
.Card {
	margin: 0 2% !important;
}
.Infected {
	border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}
.Recovered {
	border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.Deaths {
	border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}
@media (max-width: 770px) {
	.Card {
		margin: 2% 0px !important;
	}
}
